*{
   border: 0px;
   padding: 0px;
   margin: 0px;
   color: blueviolet;
   align-items: center;

}

#Cabecalio{
   display: flex;
   justify-content: space-between;

   
}

#Logo{
   margin-inline-start: 12%;
   height: 128px;
}

#Menu{
   display: flex;
   justify-content: flex-end;
   margin-inline-end: 22%;
}

#Menu a {
   margin-left: 15px; /* Ajuste conforme necessário */
   text-decoration: none;
   color: #000; /* Cor do texto do link, ajuste conforme necessário */
   font-size: 1.8em;
}

#conteudo{
   margin: auto;
   width: 70%;
}

.section-conteudo{
   display: flex;
   justify-content: space-evenly;
   position: relative;
   margin: 3rem;
}

.section-conteudo p {
   margin-left: 2%;
}

footer{
   width: 100%;
   position: fixed;
   bottom: 0;
}

#footer-content{
   display: flex;
   height: auto;
   justify-content: space-evenly;
   margin-top: 1.2rem;
   padding-bottom: 1.2rem;
}

#footer-menu{
   display: grid;
}

#footer-menu a{
   padding-top: 0.4rem;
   padding-bottom: 0.4rem;
}

#social_midia{
   display: flex;
   margin-inline-end: 12%;
}